<%= form_for @user, html: {class: "form-horizontal push-5-t"} do |user_form| %>
    <div class="block block-themed block-transparent remove-margin-b">
      <div class="block-header bg-primary-dark">
        <ul class="block-options">
          <li>
            <button data-dismiss="modal" type="button">
              <span class="sr-only">Close Modal</span>
              <i class="fa fa-close" aria-hidden="true"></i>
            </button>
          </li>
        </ul>
        <h3 class="block-title">Edit <%= @modal_title %></h3>
      </div>
      <div class="block-content">
        <div class="form-group">
          <%= user_form.label :name, class: "col-xs-12", required: true %>
          <div class="col-xs-12">
            <%= user_form.text_field :name, class: "form-control", required: true %>
          </div>
        </div>
        <div class="form-group">
          <%= user_form.label :email, class: "col-xs-12", required: true %>
          <div class="col-xs-12">
            <%= user_form.text_field :email, class: "form-control", type: "email", required: true, disabled: true %>
          </div>
        </div>
        <% if current_user.superadmin %>
            <div class="form-group">
              <%= user_form.label :maximum_number_of_clients, class: "col-xs-12", required: true %>
              <div class="col-xs-12">
                <%= user_form.text_field :maximum_number_of_clients, class: "form-control", type: @input_type, value: @max_clients, required: true, disabled: @current_user_is_superadmin %>
              </div>
            </div>
        <% end %>
        <% if current_user == @user %>
            <div class="form-group">
              <%= user_form.label "New Password", class: "col-xs-12", required: true %>
              <div class="col-xs-12">
                <%= user_form.password_field :new_password, class: "form-control" %>
              </div>
            </div>
            <div class="form-group">
              <%= user_form.label "Confirm New Password", class: "col-xs-12", required: true %>
              <div class="col-xs-12">
                <%= user_form.password_field :new_password_confirmation, class: "form-control" %>
              </div>
            </div>
        <% end %>
        <div class="modal-footer">
          <button class="btn btn-sm btn-success" type="submit"><i class="fa fa-check" aria-hidden="true"></i> <%= @button_text %></button>
          <button class="btn btn-sm btn-danger" type="button" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
<% end %>
