<%= form_for @user, html: {class: "form-horizontal push-5-t"} do |user_form| %>
    <div class="block block-themed block-transparent remove-margin-b">
      <div class="block-header bg-primary-dark">
        <ul class="block-options">
          <li>
            <button data-dismiss="modal" type="button">
              <span class="sr-only">Close Modal</span>
              <i class="fa fa-close" aria-hidden="true"></i>
            </button>
          </li>
        </ul>
        <h3 class="block-title">New User</h3>
      </div>
      <div class="block-content">
        <div class="form-group">
          <%= user_form.label :name, class: "col-xs-12", required: true %>
          <div class="col-xs-12">
            <%= user_form.text_field :name, class: "form-control", required: true %>
          </div>
        </div>
        <div class="form-group">
          <%= user_form.label :email, class: "col-xs-12", required: true %>
          <div class="col-xs-12">
            <%= user_form.text_field :email, class: "form-control", type: "email", required: true%>
          </div>
        </div>
        <div class="form-group">
          <%= user_form.label :maximum_number_of_clients, class: "col-xs-12", required: true %>
          <div class="col-xs-12">
            <%= user_form.text_field :maximum_number_of_clients, class: "form-control", type: "number", required: true %>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-sm btn-success" type="submit"><i class="fa fa-check" aria-hidden="true"></i> Save user</button>
            <button class="btn btn-sm btn-danger" type="button" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
<% end %>
