<!DOCTYPE html>
<html class="no-focus" lang="en">
<head>
  <meta charset="utf-8">
  <title>ClientManager</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,700%7COpen+Sans:300,400,400italic,600,700">
  <%= growlyflash_static_notices %>
  <%= stylesheet_link_tag "client_manager/application", media: "all" %>
  <%= javascript_include_tag "client_manager/application" %>
</head>
<body>
<%= yield %>
</body>
</html>

<%= render 'layouts/client_manager/partials/modal' %>


